.projet {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .pro {
    background-color: rgb(179, 37, 26);
  }
  
  .blok {
    width: 32em;
    height:55vh;
    margin: 0 auto;
    padding: 0.9em;
    border-radius: 1.9em;
    box-shadow: 0.32em 0.32em 0.95em rgba(0, 0, 0, 0.3);
  }
  
  .container h2 {
    margin-left: 1.28em;
    padding-bottom: 1.28em;
  }
  
  .pacman {
    height: auto;
    width: 15%;
    margin: 1.28em 0;
    margin-top: -1em;
    border-radius: 1.9em;
    float:left;
  }
  
  .language {
    text-align: center;
  }
  
  .link {
    color: rgb(112, 25, 252);
    font-style: italic;
    font-weight: normal;
    margin-left: 0.32em;
  }
  
  .article {
    margin-top: -0.2em;  
  }
  